html, body {
  height: 100%
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  width: 100%
}

#root {
    width: 100%;
    max-width: 600px;
}

tr {
    cursor: pointer;
}